@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif , 'Poppins';
}
.menu {
  display: none;
}
body{
    background-color: #E5E7E8;
    width:100%;
    height:100%;
    position:relative;
    display:flex;
    box-sizing: border-box;
  
}
#dashborad {
 
  transition: 0.3s ease-in;
}
.logo {
    display: flex;
    align-items: center;
    padding: 40px 40px 0px 20px;
   
  }
  #side-menu {
    width: 300px;
    background-color: #464545;
  }
  #side-menu p {
    color: #fff;
    font-size: 2rem;
    margin-left: 10px;
  }
  .item {
    margin-top: 60px;
    height: 100vh;
  }
  
  
  .item li {
    list-style: none;
    padding: 20px;
    transition: 0.3 ease-in;
  }
   .item a {
    text-decoration: none;
    color: #e8e4e4;
    font-size: 16px;
    padding-left: 15px;
    transition: 0.3 ease-in;
  }
  .item i {
    color: #dfdddd;
  }
  .item li:hover{
      background: #253047;
      cursor: pointer;
  }
  .item li:nth-child(1){
      border-left: 4px solid #dfdddd;
  }
  .item li:hover i,.item li:hover a{
      color:#F3F4F6;
  }
  /* navbar Top */
  .navbar{
      display: flex;
      justify-content: space-between;

  }
  #dashborad {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid mediumblue;
    background-color: #fff;
    align-items: center;
  }
  
  .navbar img {
    width: 40px;
    border-radius: 50px;
    height: 40px;
  }
  .profil i{
      margin-right: 10px;
  }
  .profil {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .search {
    margin-left: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #111;
    height: 25px;
    align-items: center;
    padding: 4px 6px;
  }
  .search input {
    border: none;
    outline: none;
    font-size: 17px;
  }
  /* title */
  .title-dashborad {
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
  }
  /* boxes */
  .boxes {
    padding: 30px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: none !important;
    margin-right: 0px !important;
    width:100%

  }
  .box {
    width: 240px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .box-font i {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 20px;
  }
  
  .info-box {
    padding-top: 16px;
    line-height: 25px;
  }
  #user{
    width: 80px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    background-color: #73cf18;
  }
  #shopp{
    width: 80px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    background-color: #3c68ce;
  }
  #sign{
    width: 80px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    background-color: #18a4cf;
  }
  #check{
    width: 80px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    background-color: #cf18c6;
  }
  table {
    width: 100%;
    border: 0.2px solid #fff;
  }
  th {
    text-align: left;
    padding: 15px;
  }
  #profil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 18px;
  }
  #web {
    font-size: 14px;
    color: gray;
    font-weight: 400;
  }
  #active {
    padding-left: 10px;
  }
  #active p {
    background-color: rgb(120, 221, 120);
    width: 50px;
    height: 30px;
    padding: 2px;
    text-align: center;
    margin-left:4px ;
  }
  .tables {
    padding: 30px 0px 30px 20px;
  }
  table {
    width: 95%;
    border: 0.2px solid #fff;
    margin-left: 14px;
    background-color: #fff;
  }
  #owner {
    padding-left: 10px;
  }
  #edit{
    color: #7f96c8;
  }
  #profil img {
    width: 60px;
    height:60px;
  }
  
  @media screen and (min-width: 600px) and (max-width:900px) {
   
    #dashborad {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .boxes {
      width: 80%;
      flex-wrap: wrap;
      flex-direction: none;
      padding:0;
      margin-right: 0;
      margin-left: 20px;
    }
    #menu1{
      transition: 0.3 ease-in;
    }

    #side-menu {
      width: 260px;
     display: none;
     transition: 0.3 ease-in;
    }
    #profil {
      padding-left: 30px;
    }
    .info {
      padding-left: 7px;
    }
    .search {
      margin-right: 390px;
    }
  .menu {
    margin-left: 10px;
    cursor: pointer;
    display: inline;
  }
  .box{
    margin-bottom: 15px;
  }
  #side-menu.active{
    display: block;
  
  }
  #profil {
    width: 60%;
  }
  
  #side-menu.active ~ table {
    width: 100%;
    overflow-x: auto;
  }
  #profil img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px;
  }
  }
  @media screen and (min-width:200px ) and (max-width:450px) {
    #dashborad {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #side-menu.active{
      display: block;
      width: 200px;
      margin:0;
      /* overflow-y: hidden; */
    }
    #side-menu.active~.boxes{
      width: calc(100%-200px);
      
    }
    .boxes {
      flex-direction: column;
      margin-right: 0px!important;
      padding: 30px 10px 30px 10px;
    }
    .box {
      width: 100% !important;
      margin-right: 0px;
      margin-left: 0px !important;
      margin-bottom: 25px;
    }
    .search {
      margin-right: 10px;
      width: 130px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #111;
      height: 20px;
      align-items: center;
      padding: 4px;
    }
    .search input {
      
        width: 100%;
    }
    .menu {
      margin-left: 10px;
      cursor: pointer;
      display: inline;
    }
    #side-menu {
      width: 200px;
     display: none;
     transition: 0.3 ease-in;
  
    }
    .box {
      width: 170px;
      margin-right: 0px;
      
      margin-left: 30px;
      margin-bottom: 25px;
    }
    #logo {
      width: 30px !important;
      height: 30px !important;
    }
    .title-dashborad {
      padding: 20px;
      font-size: 1.5rem;
      font-weight: 700;
    }
    td{
      width:120px;
    }
   td img{
      width: 40px !important;;
      height: 40px !important;

    }
    .info {
      width: 80px;
    }
    table{
      margin-left: 0px;
      overflow-x: auto;
      width: 700px;
    }
    .tables {
      padding: 30px 0px 30px 2px !important;
    }
    .info p{
      font-size: 18px;
    }
    td img{
      width:40px !important;
      height: 40px !important;
    }
    .info p{
      font-size: 12px;
      font-weight: 300;
    }
    li {
      list-style: none;
      margin-bottom: 20px;
    }
   
    /* .info-box {
      padding-top: 10px;
      padding-left: 5px;
    }
    #shopp {
      width: 60px;
      height: 50px;
    } */
  }